html,
body {
  background-image: url(logo.svg), url(bg.svg);
  background-position: bottom 15vh right 15vh, 0 0;
  background-repeat: no-repeat;
  background-size:9vh 9vh, 100% 100%;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin-left: 38vw;
}

h1,
h5 {
  font-size: 3.5em;
  font-weight: 100;
  margin: 15vh 0 0;
  padding: 0;
  text-align: left;
}

h5 {
  margin: 0 0 15vh 0;
}

pre {
  margin: 0
}

a {
  color: white;
  text-decoration: none;
}

.input-container {
  display: inline-block;
}

input {
  background: transparent;
  border: 1px solid white;
  box-sizing: border-box;
  color: white;
  font: inherit;
  height: 40px;
  line-height: 40px;
  padding: 1px 40px 1px 12px;
  width: 282px;
}

input:focus {
  outline: none;
}

.icon-event::before {
  content: 'event';
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-left: -40px;
  pointer-events: none;
  text-align: center;
  vertical-align: top;
  width: 40px;
}

.date-time-picker-container {
  position: relative;
}

.date-time-picker-container .dtp-root {
  left: 0;
  top: 40px;
}





