.dtp-root {
  background-color: white;
  border-radius: 3px;
  border: 1px solid hsl(0, 0%, 95%);
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, .2);
  font-size: 14px;
  left: 0;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  user-select: none;
  width: 256px;
}

.dtp-root .material-icons {
  line-height: inherit;
}

.dtp-hover-span {
  border-radius: 4px;
  box-shadow: 0 0 0 hsla(0, 0%, 0%, 0);
  cursor: pointer;
  display: block;
  height: 100%;
  padding: 0 8px;
  transition: box-shadow .1s;
}

.dtp-hover-span:hover,
.dtp-td-months:hover > .dtp-hover-span,
.dtp-td-years:hover > .dtp-hover-span {
  box-shadow: 1px 1px 4px hsla(0, 0%, 0%, .2),
              0 0 2px hsla(0, 0%, 0%, .2);
}

.dtp-header,
.dtp-footer {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: space-between;
  line-height: 32px;
}

.dtp-footer {
  justify-content: space-around;
}

.dtp-previous-month, 
.dtp-next-month {
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  text-align: center;
  width: 40px;
}

.dtp-header-month,
.dtp-header-year {
  font-weight: bold;
  min-width: 40px;
  padding: 0 12px;
  position: relative;
  text-align: center;
}

.dtp-header-month .material-icons,
.dtp-header-year .material-icons {
  display: none;
  height: 16px;
  left: 0;
  line-height: 16px;
  position: absolute;
  top: 100%;
  width: 100%;
}

.dtp-header-month.dtp-selected .material-icons,
.dtp-header-year.dtp-selected .material-icons {
  display: block;
}

.dtp-filler {
  flex: 1;
}

.dtp-main-section {
  align-items: center;
  display: flex;
  height: 212px;
  width: 252px;
}

.dtp-main-section.dtp-view-years,
.dtp-main-section.dtp-view-time {
  background-image: url('./arrow_up.svg'), 
                    url('./arrow_down.svg'); 
  background-position: 50% 24px, 50% 168px;
  background-repeat: no-repeat;
}

.dtp-main-section.dtp-view-time {
  background-position: 50% 32px, 50% 160px;
}

.dtp-table {
  border-collapse: collapse;
  margin: 0;
  max-width: 252px;
  width: 252px;
}

.dtp-table th,
.dtp-table td {
  padding: 0;
}

.dtp-th-day,
.dtp-td-day {
  border: none;
  height: 28px;
  line-height: 28px;
  padding: 0;
  text-align: right;
  width: 36px;
}

.dtp-td-day .dtp-hover-span {
  padding: 0 8px 0 0;
}

.dtp-table .dtp-th-day  {
  font-weight: normal;
  padding: 0 8px 0 0;
  text-align: right;
  width: 28px;
}

.dtp-selected-day > .dtp-hover-span  {
  background-color: hsl(210, 100%, 50%);
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.dtp-table .dtp-td-years,
.dtp-table .dtp-td-months {
  height: 32px;
  line-height: 32px;
  padding: 4px 0;
  text-align: center;
  width: 88px;
}

.dtp-time-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dtp-time-controls {
  display: flex;
  flex-direction: column;
}

.dtp-time-controls .dtp-hover-span {
  height: 32px;
  line-height: 32px;
}

.dtp-digits {
  display: block;
  margin: auto;
}

.dtp-digits circle {
   fill: black;
}

.dtp-digit-display-light {
  fill: white;
}

.dtp-digit-display-light.on {
  fill: black;
}

.dtp-icon-chevron-left::before {
  content: 'chevron_left';
}

.dtp-icon-chevron-right::before {
  content: 'chevron_right';
}

.dtp-icon-arrow-drop-up::before {
  content: 'arrow_drop_up';
}

.dtp-icon-event::before {
  content: 'event';
}

.dtp-icon-schedule::before {
  content: 'schedule';
}

.dtp-icon-adjust::before {
  content: 'adjust';
}

.dtp-icon-cancel::before {
  content: 'cancel';
}

.dtp-icon-expand-less::before {
  content: 'expand_less';
}

.dtp-icon-expand-more::before {
  content: 'expand_more';
}
